<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GalleryProcessor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GalleryProcessor.Settings>
            <setting name="Feed_TitleFormat" serializeAs="String">
                <value>{0} - Galleries</value>
            </setting>
            <setting name="Feed_DescriptionFormat" serializeAs="String">
                <value>Galleries on {0}</value>
            </setting>
            <setting name="Feed_IdFormat" serializeAs="String">
                <value>{0}Galleries</value>
            </setting>
            <setting name="Folders_OringinalImages" serializeAs="String">
                <value>OriginalImages</value>
            </setting>
            <setting name="Folders_ScaledImages" serializeAs="String">
                <value>ScaledImages</value>
            </setting>
            <setting name="Folders_Thumbs" serializeAs="String">
                <value>Thumbs</value>
            </setting>
            <setting name="Zip_FileNameFormat_LowQuality" serializeAs="String">
                <value>{0}-LQ.zip</value>
            </setting>
            <setting name="Zip_FileNameFormat_HighQuality" serializeAs="String">
                <value>{0}-HQ.zip</value>
            </setting>
            <setting name="File_GalleryDataFileNameFormat" serializeAs="String">
                <value>GalleryData{0}.xml</value>
            </setting>
            <setting name="File_GalleryCoverFileName" serializeAs="String">
                <value>GalleryCover.jpg</value>
            </setting>
            <setting name="Http_GalleryHttpPathFormat" serializeAs="String">
                <value>{0}/Galleries/{1}/</value>
            </setting>
            <setting name="Http_GalleriesIndexHttpPathFormat" serializeAs="String">
                <value>{0}/Galleries/</value>
            </setting>
            <setting name="Image_FileTypeFilter" serializeAs="String">
                <value>*.jpg</value>
            </setting>
            <setting name="ImageProcess_Default_ScaledImageScaleMode" serializeAs="String">
                <value>MaxDimensions</value>
            </setting>
            <setting name="ImageProcess_Default_ScaledImageWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="ImageProcess_Default_ScaledImageHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="ImageProcess_Default_ThumbScaleMode" serializeAs="String">
                <value>FixedHeight</value>
            </setting>
            <setting name="ImageProcess_Default_ThumbWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ImageProcess_Default_ThumbHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CoverRender_Default_ImageRotationMax" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CoverRender_Default_ImageRotationMin" serializeAs="String">
                <value>-20</value>
            </setting>
            <setting name="CoverRender_Default_TitleRotationMax" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CoverRender_Default_TitleRotationMin" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="CoverRender_Default_TitleOffsetXMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CoverRender_Default_TitleOffsetXMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CoverRender_Default_TitleOffsetYMin" serializeAs="String">
                <value>-20</value>
            </setting>
            <setting name="CoverRender_Default_TitleOffsetYMax" serializeAs="String">
                <value>-10</value>
            </setting>
            <setting name="CoverRender_Default_ImageOffsetXMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CoverRender_Default_ImageOffsetXMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CoverRender_Default_ImageOffsetYMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CoverRender_Default_ImageOffsetYMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Http_GalleryHttpEnhancedPathFormat" serializeAs="String">
                <value>{0}/Galleries#{1}</value>
            </setting>
        </GalleryProcessor.Settings>
    </applicationSettings>
</configuration>